.modal {
  position: absolute;
  top: 50%;
  width: calc(20em + 20vw);
  height: calc(15em + 15vw);
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff4e4;
  box-shadow: #666 1px 1px 10px;
  z-index: 99;
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(247, 217, 172, 1) 100%);

  h2 {
    color: #000;
    text-align: center;
  }
}

.container {
  display: flex;
  justify-content: center;
}

.form {
  margin-top: 15px;

  label {
    color: #000;
    margin: 0 auto;
  }

  input {
    display: flex;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #666;
    margin: 5px auto;
    width: 250px;
    height: 25px;
    outline: none;
  }

  textarea {
    display: flex;
    resize: none;
    height: 120px;
    width: 250px;
    background-color: transparent;
    border: 1px solid #666;
    margin: 0 auto;
    border-radius: 5px;
    outline: none;
  }

  div {
    display: flex;
    justify-content: flex-end;
  }
}

.btn {
  margin-top: 5px;
  padding: 2px 15px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  background-color: #ffc66f;

  &:hover {
    cursor: pointer;
    background: radial-gradient(circle, rgba(255, 244, 228, 1) 0%, rgba(244, 201, 139, 1) 50%, rgba(250, 190, 103, 1) 100%);
  }
}


.close {
  margin: 15px 20px;
  text-align: right;
  cursor: pointer;

}

.error {
  display: flex;
  justify-content: center;
  color: red;
  margin-top: 10px;
}

@media only screen and (max-width: 1024px) {

  .modal {
    top: 50%;
    height: calc(20em + 20vw);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff4e4;
    box-shadow: #666 1px 1px 10px;
    z-index: 99;
    border-radius: 15px;

    h2 {
      color: #000;
      text-align: center;
    }
  }
}